body {
    display: flex;
    align-items: center;
    justify-content: center;
}
div {
    display: flex;
}

div.container {
    width: 220mm;
    height: 297mm;
    flex-direction: column;
    border: 5px dotted black;
}

div.header {
    flex:1;
    flex-direction: row;
}
    div.header div.img {
        flex: 1;
        align-items: center;
        justify-content: center;
        background-color: #389583;
    }
        div.header div.img img {
            width:100%;
            padding: 10px;
            /* border-radius: 150px; */
        }
    div.header div.name {
        flex: 2;
        background-color: #389583;
        align-items: center;
        justify-content: center;
        border-bottom: 5px dotted #edf5e1;
    }

        div.name p {
            font-family: 'Bebas Neue', cursive;
            font-size: 5rem;
            letter-spacing: 5px;
        }
div.body {
    flex: 4;
    background-color: lightseagreen;
    flex-direction: row;
}

div.body div.left {
    flex: 1;
    background-color: #05396b;
    justify-content: center;
    background: linear-gradient(#05396b,#0d85f5);
}

div.body div.left div.insideleft {
    width: 90%;
    flex-direction: column;
}

div.body div.right div.insideright    {
    width: 90%;
    flex-direction: column;
}

div.body div.right {
    flex: 2;
    background: linear-gradient(#389583,#75f7dd);
    justify-content: center;
}

.insideleft h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: #edf5e1;
    border-color: black;
    padding-bottom: 10px;
    border-bottom: 5px solid #389583;
}

.insideright h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 3px;
    color: #edf5e1;
    border-color: black;
    padding-bottom: 10px;
    border-bottom: 5px solid #edf5e1;
}


p {
    color: #edf5e1;
}

ul {
    margin-top: -7px;
}

ul.Edulist{
    display: none;
}

button.Edubutton {
    position: relative ;
    left: px;
    width: 60px;
    height: 25px;
    top: -60px;
    left: 440px;
}

ul.WElist{
    display: none;
}
button.WEbutton {
    position: relative ;
    left: px;
    width: 60px;
    height: 25px;
    top: -60px;
    left: 440px;
}

ul.OElist{
    display: none;
}
button.OEbutton {
    position: relative ;
    left: px;
    width: 60px;
    height: 25px;
    top: -60px;
    left: 440px;
}

ul.PUBlist{
    display: none;
}
button.PUBbutton {
    position: relative ;
    left: px;
    width: 60px;
    height: 25px;
    top: -60px;
    left: 440px;
}

li {
    color: #edf5e1;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-left: -20px;
}

div.insideleft img {
    height: 40px;
    width: 40px;
}